# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Database
instance/
*.db
*.sqlite3

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Keys
*.pem
firebase_service_account.json
*firebase-adminsdk*.json
*.json.key
